body {
    background-image: linear-gradient(to bottom, #6495ED, #87CEEB);
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
}

.container-h1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

img {
    width: 35%;
    height: auto;
    margin: 20px auto;
}

select {
    width: 200px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d2d7d9;
}

select option {
    font-size: 16px;
}

button[type="button"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px; 
  width: 400px;
  font-size: larger;
}

button[type="button"]:hover {
  background-color: #3e8e41;
}

button[type="button"].voltar {
  font-size: larger; 
}

footer {
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 10px;
  color: #fff;
}
